HW0/aquila_sw/uartboot/*.mem
HW0/aquila_sw/uartboot/*.o
HW0/aquila_sw/uartboot/*.map
HW0/aquila_sw/uartboot/*.objdump
HW0/aquila_sw/uartboot/*.elf
HW0/aquila_sw/Dhrystone/*.mem
HW0/aquila_sw/Dhrystone/*.o
HW0/aquila_sw/Dhrystone/*.map
HW0/aquila_sw/Dhrystone/*.objdump
HW0/aquila_sw/Dhrystone/*.elf
HW0/aquila_sw/CoreMark/*.elf
HW0/aquila_sw/CoreMark/*.map
HW0/aquila_sw/CoreMark/*.objdump
HW0/aquila_sw/CoreMark/*.o
HW0/aquila_sw/rtos_test/build/*
HW0/aquila_sw/rtos_test/*.elf

HW1/aquila_sw/uartboot/*.mem
HW1/aquila_sw/uartboot/*.o
HW1/aquila_sw/uartboot/*.map
HW1/aquila_sw/uartboot/*.objdump
HW1/aquila_sw/uartboot/*.elf
HW1/aquila_sw/Dhrystone/*.mem
HW1/aquila_sw/Dhrystone/*.o
HW1/aquila_sw/Dhrystone/*.map
HW1/aquila_sw/Dhrystone/*.objdump
HW1/aquila_sw/Dhrystone/*.elf
HW1/aquila_sw/CoreMark/*.elf
HW1/aquila_sw/CoreMark/*.map
HW1/aquila_sw/CoreMark/*.objdump
HW1/aquila_sw/CoreMark/*.o

HW2/aquila_sw/uartboot/*.mem
HW2/aquila_sw/uartboot/*.o
HW2/aquila_sw/uartboot/*.map
HW2/aquila_sw/uartboot/*.objdump
HW2/aquila_sw/uartboot/*.elf
HW2/aquila_sw/Dhrystone/*.mem
HW2/aquila_sw/Dhrystone/*.o
HW2/aquila_sw/Dhrystone/*.map
HW2/aquila_sw/Dhrystone/*.objdump
HW2/aquila_sw/Dhrystone/*.elf
HW2/aquila_sw/CoreMark/*.elf
HW2/aquila_sw/CoreMark/*.map
HW2/aquila_sw/CoreMark/*.objdump
HW2/aquila_sw/CoreMark/*.o


HW3/aquila_sw/CoreMark/*.elf
HW3/aquila_sw/CoreMark/*.map
HW3/aquila_sw/CoreMark/*.objdump
HW3/aquila_sw/CoreMark/*.o


HW4/rtos_build/rtos_run/build/*
HW4/rtos_build/rtos_run/build_old/*
HW4/rtos_build/rtos_run/*.elf
HW4/uartboot/*.mem
HW4/uartboot/*.o
HW4/uartboot/*.map
HW4/uartboot/*.objdump
HW4/uartboot/*.elf